<% provide(:title,"Home") %>
<% provide(:bg_image,"bg2.jpg") %>
<!DOCTYPE html>
<html>
<!-- Top Background Image Wrapper -->

<div class="bgded overlay" style="background-image:url('/assets/bg-test1.png');">   
  
</div>
<div class="ta-screen-height">
  <div id="pageintro" class="hoc clear"> 
    <article class="ta-pad-left ta-fc-white">
      <h2 class="heading">Simple and Effective</h2>
      <p>We create stunning websites and applications that drive success into your business. Our price ranges provide smaller businesses easier access to technical solutions. </p>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="#">View Prices</a></li>
          <li><a class="btn inverse" href="#">Learn More</a></li>
        </ul>
      </footer>
    </article>

  </div>
</div>

</div>
<!-- End Top Background Image Wrapper -->

<div class="wrapper row3">
  <main class="hoc container clear ta-fc-grey"> 
    <!-- main body -->
    <div class="center btmspace-50">
      <h3 class="font-x2 nospace">Our Design</h3>
      <!-- p class="nospace">The principles that we follow to deliver the best user experience possible. </a>.</p-->
    </div>
    <ul class="nospace group services ta-pad-horizontal">
      <li class="one_third first">
        <article><a href="#"><i class="fa fa-paperclip"></i></a>
          <div class="ta-center ta-pad-bottom">
          <%= image_tag("icons/responsive.png", alt: "Responsive")%>
          </div>
          <h6 class="heading ta-center">Responsive</h6>
          <p>All of our websites are designed to be responsive for the most popular digital platforms today. <a class="ta-toggle-near ta-cursor"> More&raquo;</a> <span class="ta-span-near" style="visibility: hidden;">Your customers can view your content on their phones and tablets and still retain the smooth browsing experience that our websites are designed for. </span></p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-calculator"></i></a>
          <div class="ta-center ta-pad-bottom">
          <%= image_tag("icons/affordable.png", alt: "Affordable")%>
          </div>
          <h6 class="heading ta-center">Affordable</h6>
          <p>We keep our prices as low as possible to give smaller businesses better access to technical solutions.  <a class="ta-toggle-near ta-cursor"> More&raquo;</a> <span class="ta-span-near" style="visibility: hidden;">We work with our clients to make sure that their payments go directly to the services we use, so that we are not charging for any extra middleman fees. </span></p>
          </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-pie-chart"></i></a>
          <div class="ta-center ta-pad-bottom">
          <%= image_tag("icons/intuitive.png", alt: "Intuitive")%>
          </div>
          <h6 class="heading ta-center">Intuitive</h6>
          <p>
          Our websites and apps are designed with user experience as a top priority. <a class="ta-toggle-near ta-cursor"> More&raquo;</a> <span class="ta-span-near" style="visibility: hidden;">We keep our layouts simple and concise to deliver a smooth and intuitive experience. </span></p>
        </article>
      </li>
      <li class="one_third first">
        <article><a href="#"><i class="fa fa-recycle"></i></a>
          <div class="ta-center ta-pad-bottom">
          <%= image_tag("icons/secure.png", alt: "Secure")%>
          </div>
          <h6 class="heading ta-center">Secure</h6>
          <p>Websites that we deliver are always secured with trusted and verified SSL certificates upon completion. <a class="ta-toggle-near ta-cursor"> More&raquo;</a> <span class="ta-span-near" style="visibility: hidden;">Visitors can also feel re-assured that their connection is encrypted with some of the most robust cyphersuits and protocols today. </span></p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-code-fork"></i></a>
          <div class="ta-center ta-pad-bottom">
          <%= image_tag("icons/reliable.png", alt: "Reliable")%>
          </div>
          <h6 class="heading ta-center">Reliable</h6>
          <p>We use components that have been proven to be reliable and consistent over time.<a class="ta-toggle-near ta-cursor"> More&raquo;</a> <span class="ta-span-near" style="visibility: hidden;"> Along with our rigorous testing process, this minimizes the chances of our customers experiencing technical defect that naturally arise from experimental technology. </span></p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-cogs"></i></a>
          <div class="ta-center">
          <%= image_tag("icons/specialized.png", alt: "Specialized")%>
          </div>
          <h6 class="heading ta-center">Specialized</h6>
          <p>The customized solutions we create are designed to be focused specifically on what your business needs. <a class="ta-toggle-near ta-cursor"> More&raquo;</a> <span class="ta-span-near" style="visibility: hidden;">We keep the design simple and the cost low, because you only pay for what you need. </span></p>
        </article>
      </li>
    </ul>
    <!-- Main Body -->
    <div class="clear"></div>
  </main>
</div>

<div class="wrapper">
  <div class="split clear" style="background-image:url('images/demo/backgrounds/02.png');">
    <section class="box"> 
      <div class="btmspace-50">
        <p class="nospace"><a href="#">Featured Testimony</a></p>
        <h2 class="heading">A Fantastic Experience</h2>
      </div>
      <div class="testimonial">
        <figure class="clear"><img src="images/demo/60x60.png" alt="">
          <figcaption><strong>Sir Vinvyin</strong><br>
            <em>Professional Conman, Company Name</em></figcaption>
        </figure>
        <p>"Say some nice things here. Preferably around 3 sentences long so it's not too short, but also not too long. Might just trail with ellipsis if too long... "</p>
      </div>
    </section>
  </div>
</div>
<div class="wrapper row3">
  <div class="hoc container clear ta-fc-grey"> 
    <div class="center btmspace-50">
      <h3 class="font-x2 nospace">Check your progress</h3>
      <p class="nospace">We keep track of the progress of all of our projects. Simply enter your project ID and search to check the progress. </p>
    </div>
    <div class="ta-search-space ta-search-wrap">
      <input type="text" name="search" placeholder=" Enter Project ID" class="ta-center ta-search-bar">
      <div class="ta-space"></div>
      <div class="ta-btn-small">Search</div>
    </div>
    <div class="clear"></div>
  </div>
</div>
</html>