<% provide(:title,"Home") %>
<% provide(:bg_image,"/assets/bg2.jpg") %>
<!DOCTYPE html>
<html>
<!-- Top Background Image Wrapper -->
<%= flash_messages %>

<div class="ta-screen-height">
  <div id="pageintro" class="hoc clear"> 
    <article class="ta-pad-left ta-fc-white">
      <h2 class="heading">Simple and Effective</h2>
      <p class="ta-maxwidth-50">We create stunning websites and applications that drive success into your business. Our price ranges provide smaller businesses easier access to technical solutions. </p>
      <footer>
        <ul class="nospace inline pushright">
          <li><%= link_to "View Prices", pricing_path, :class => "btn" %></li>
          <li><%= link_to "Learn More", about_path, :class => "btn inverse" %></li>
        </ul>
      </footer>
    </article>

  </div>
</div>

<!-- End Top Background Image Wrapper -->

<div class="wrapper row3">
  <main class="hoc container clear ta-fc-grey"> 
    <!-- main body -->
    <div class="center btmspace-50">
      <h3 class="font-x2 nospace">Our Design</h3>
      <!-- p class="nospace">The principles that we follow to deliver the best user experience possible. </a>.</p-->
    </div>
    <ul class="nospace group services ta-pad-horizontal">
      <li class="one_third first">
        <article><a href="#"><i class="fa fa-paperclip"></i></a>
          <div class="ta-center ta-pad-bottom">
          <%= image_tag("icons/responsive.png", alt: "Responsive")%>
          </div>
          <h6 class="heading ta-center">Responsive</h6>
          <p>All of our websites are designed to be responsive for the most popular digital platforms today. <a class="ta-toggle-near ta-cursor"> More&raquo;</a> <span class="ta-span-near" style="visibility: hidden;">Your customers can view your content on their phones and tablets and still retain the smooth browsing experience that our websites are designed for. </span></p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-calculator"></i></a>
          <div class="ta-center ta-pad-bottom">
          <%= image_tag("icons/affordable.png", alt: "Affordable")%>
          </div>
          <h6 class="heading ta-center">Affordable</h6>
          <p>We keep our prices as low as possible to give smaller businesses better access to technical solutions.  <a class="ta-toggle-near ta-cursor"> More&raquo;</a> <span class="ta-span-near" style="visibility: hidden;">We work with our clients to make sure that their ideal designs can be achieved with minimal costs. </span></p>
          </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-pie-chart"></i></a>
          <div class="ta-center ta-pad-bottom">
          <%= image_tag("icons/intuitive.png", alt: "Intuitive")%>
          </div>
          <h6 class="heading ta-center">Intuitive</h6>
          <p>
          Our websites and apps are designed with user experience as a top priority. <a class="ta-toggle-near ta-cursor"> More&raquo;</a> <span class="ta-span-near" style="visibility: hidden;">We keep our layouts simple and concise to deliver a smooth and intuitive experience. </span></p>
        </article>
      </li>
      <li class="one_third first">
        <article><a href="#"><i class="fa fa-recycle"></i></a>
          <div class="ta-center ta-pad-bottom">
          <%= image_tag("icons/secure.png", alt: "Secure")%>
          </div>
          <h6 class="heading ta-center">Secure</h6>
          <p>Websites that we deliver are always secured with trusted and verified SSL certificates upon completion. <a class="ta-toggle-near ta-cursor"> More&raquo;</a> <span class="ta-span-near" style="visibility: hidden;">Visitors can also feel re-assured that their connection is encrypted with some of the most robust cyphersuits and protocols today. </span></p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-code-fork"></i></a>
          <div class="ta-center ta-pad-bottom">
          <%= image_tag("icons/reliable.png", alt: "Reliable")%>
          </div>
          <h6 class="heading ta-center">Reliable</h6>
          <p>We use components that have been proven to be reliable and consistent over time.<a class="ta-toggle-near ta-cursor"> More&raquo;</a> <span class="ta-span-near" style="visibility: hidden;"> Along with our rigorous testing processes, this minimizes the chances of our clients experiencing technical defect that naturally arise from experimental technology. </span></p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-cogs"></i></a>
          <div class="ta-center">
          <%= image_tag("icons/specialized.png", alt: "Specialized")%>
          </div>
          <h6 class="heading ta-center">Specialized</h6>
          <p>The customized solutions we create are designed to be focused specifically on what your business needs. <a class="ta-toggle-near ta-cursor"> More&raquo;</a> <span class="ta-span-near" style="visibility: hidden;">We keep the design simple and the costs low, because you only pay for what you need. </span></p>
        </article>
      </li>
    </ul>
    <!-- Main Body -->
    <div class="clear"></div>
  </main>
</div>

<!--div class="wrapper"-->
  <!-- Testimony Section -->
  <!--div class="split clear" style="background-image:url('/assets/bg2.jpg');">
    <section class="box"> 
      <div class="btmspace-50">
        <p class="nospace"><a href="#">Featured Testimony</a></p>
        <h2 class="heading">Quote</h2>
      </div>
      <div class="testimonial">
        <figure class="clear"><img src="images/demo/60x60.png" alt="">
          <figcaption><strong>Person</strong><br>
            <em>Professional Conman, Company Name</em></figcaption>
        </figure>
        <p>"Quote"</p>
      </div>
    </section>
  </div>
</div-->

  <div class="wrapper">
    <!-- How it works section -->
    <div class="ta-section-black">
      <div class="ta-section-header">Getting Started</div>
      <div class="ta-section-wrapper">
        <div class="ta-section-paragraph ta-margin-left">
          <%= image_tag("icons/submit.png", alt: "Secure", class: "ta-step-icon" )%>
          <p class="ta-section-paragraph-title">1. Submit Request </p>
          <p class="ta-section-paragraph-text">You can submit a request for a project <a href="mailto:support@timelessapps.com?subject=Project%20Request&body=Project%20Type%20%28Website%2C%20Web%20Application%2C%20Desktop%20Application%29%3A%0D%0A%0D%0AProject%20Description%3A%0D%0A">here</a>. We can also be contacted <a href="/contact" >here</a>. </p>
        </div>
        <div class="ta-section-paragraph ta-margin-left">
          <%= image_tag("icons/review.png", alt: "Secure", class: "ta-step-icon" )%>
          <p class="ta-section-paragraph-title">2. Review Request </p>
          <p class="ta-section-paragraph-text">We will review the request and reach out to you to confirm the details. </p>
        </div>
        <div class="ta-section-paragraph ta-margin-left">
          <%= image_tag("icons/work.png", alt: "Secure", class: "ta-step-icon" )%>
          <p class="ta-section-paragraph-title">3. Work on Project</p>
          <p class="ta-section-paragraph-text">Once in progress, you can check on the status of the project <a href="/projects">here</a>. </p>
        </div>
        <div class="ta-section-paragraph ta-margin-left">
          <%= image_tag("icons/deliver.png", alt: "Secure", class: "ta-step-icon" )%>
          <p class="ta-section-paragraph-title">4. Deliver Project</p>
          <p class="ta-section-paragraph-text">When completed, we will contact you and provide instructions on using the product. </p>
        </div>
        <span class="ta-stretch"></span>
      </div>
    </div>
  </div>

  <div class="wrapper row3">
    <div class="hoc container clear ta-fc-grey"> 
      <div class="center btmspace-50">
        <h3 class="font-x2 nospace">Check your progress</h3>
        <p class="nospace">We keep track of the progress of all of our projects. Simply enter your project ID and search to check the progress. </p>
      </div>
    <form action="<%= projects_path %>" class="ta-center ta-search-space" method="get">
      <%= text_field_tag :search, nil, placeholder: "Enter Project ID (eg. TA001)", class: "ta-search-bar ta-center ta-fc-grey" %>
      <div class="ta-space"></div>
      <%= submit_tag 'Search', name: nil, class: "ta-btn-small"%>
    </form>
      <div class="clear"></div>
    </div>
  </div>
</html>