<div class="ta-session-forms">
  <h2 class="ta-fc-white">Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <% @password_length_placeholder = @minimum_password_length.to_s + " characters minimum" %>
        <br />
        <%= f.password_field :password, autocomplete: "off", placeholder: @password_length_placeholder, class: "ta-session-input" %>
      <% else %>
        <br />
        <%= f.password_field :password, autocomplete: "off", class: "ta-session-input" %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "ta-session-input" %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password", class: "ta-login-btn" %>
    </div>
  <% end %>

  <br>

  <%= render "devise/shared/links" %>
</div>