<p id="notice"><%= notice %></p>
<div class="ta-wrap-all">

<div class="ta-marg-top ta-search-wrap">
    <div class="center btmspace-50">
      <h3 class="font-x2 nospace ta-fc-white">Check Your Project's Progress</h3>
    </div>
  <form action="<%= projects_path %>" class="ta-center ta-search-space" method="get">
    <%= text_field_tag :search, nil, placeholder: "Enter Project ID", class: "ta-search-bar ta-center ta-fc-grey" %>
    <div class="ta-space"></div>
    <%= submit_tag 'Search', name: nil, class: "ta-btn-small"%>
  </form>
</div>

<!--
<%= link_to 'New Project', new_project_path %>
-->
<% if current_user && current_user.admin? %>
  <h2>Project List</h2>
  <div class="project-block">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th class="col-md-2">Name</th>
               <th class="col-md-2">Description</th>
   <th class="col-md-2">Creator</th>
   <th class="col-md-4">Options</th>
        </tr>
      </thead>

      <tbody>
        <% @allProjects.each do |project| %>
          <tr>
           <td class="col-md-2"><%= project.project_name %></td>
           <td class="col-md-2"><%= project.description %></td>
           <td class="col-md-2"><%= project.user.try(:email) %></td>
           <td class="col-md-4">
              <%= link_to 'Show', project_path(project), class: "btn btn-info" %>
              <%= link_to 'Edit', edit_project_path(project), class: "btn  btn-warning" %>
              <%= link_to 'Destroy', project_path(project), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
           </td>
       </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <%= link_to 'New Project', new_project_path, class: "btn btn-primary" %>
<% end %>

  <div class="ta-proj-header ta-fc-white">
    <h1><%= @projects.project_name %>
    </h1>
    <span id="ta-status">
      <%= @projects.status %>
    </span>
    <p>
      <%= @projects.description %>
    </p>
  </div>
  <div class="container ta-wrap ta-mid-scale">
    <div class="ta-bar">
        <ul class="progressbar">
          <% if @projects.progress > 0 %>
            <li class="active" id="p0 step1"></li>
          <% else %>
            <li id="p0 step1"></li>
          <% end %>

          <% if @projects.progress > 25 %>
            <li class="active" id="p25 step2"></li>
          <% else %>
            <li id="p25 step2"></li>
          <% end %>

          <% if @projects.progress > 50 %>
            <li class="active" id="p50 step3"></li>
          <% else %>
            <li id="p50 step3"></li>
          <% end %>

          <% if @projects.progress > 75 %>
            <li class="active" id="p75 step4"></li>
          <% else %>
            <li id="p75 step5"></li>
          <% end %>

          <% if @projects.progress >= 100 %>
            <li class="active" id="p100 step5"></li>
          <% else %>
            <li id="p100 step5"></li>
          <% end %>
        </ul>
    </div>

    <table class="ta-proj">
      <thead>
        <div class="ta-table-header">
          <tr>
            <th>Details</th>
            <th>></th>
          </tr>
        </div>
      </thead>

      <div class="ta-slide-down">
        <tbody>
            <tr>
              <td>Estimated Completion Date</td>
              <td><%= @projects.eta %></td>
            </tr>
            <tr>
              <td>Date Started</td>
              <td><%= @projects.date_started %></td>
            </tr>
            <tr>
              <td>Status</td>
              <td><%= @projects.status %></td>
            </tr>
        </tbody>
      </div>
    </table>
  </div>
</div>