<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    
    <div class="container ta-container">
      <div class="ta-transparent">
        <%= render 'layouts/header' %>

        <div class="container">
          <%= yield %>
          
        </div>
      </div>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>