<!DOCTYPE html>
<!--
Template Name: Pobabini
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<%= render 'layouts/google-analytics' %>
</head>
<body id="top">

<%= yield %>

<div class="wrapper row4">
  <%= render 'layouts/footer' %>
</div>

<div class="wrapper row5">
  <%= render 'layouts/copyright' %>
</div>


<!-- JAVASCRIPTS -->
    <%= render 'layouts/javascripts' %>
</body>
</html>